{
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"bracketSameLine": false,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"printWidth": 80,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"endOfLine": "lf",
	"singleAttributePerLine": true,
	"experimentalTernaries": true
}
